vendor
node_modules
composer.phar
.env

# Log files
*.log
*.tmp

# Gettext
*.mo

# PHPUnit coverage
coverage

# PhpStorm
.idea

## OS ##

# Linux
*~
*.swp
# KDE
.directory

# Windows
ehthumbs.db
Icon?
Thumbs.db

# Mac OS
.DS_Store*
._*
