# Dependencies
vendor
node_modules
composer.lock
composer.phar

# Configuration
.env

# Log files
*.log
*.tmp

# Tests (PHPUnit)
coverage
phpunit.xml
.phpunit.result.cache

# IDE (PHPStorm)
.idea


## OS ##

# Linux
*~
*.swp
# KDE
.directory

# Windows
ehthumbs.db
Icon?
Thumbs.db

# Mac OS
.DS_Store*
._*
